spring:
  application:
    name: OrdemdeServico-api
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: admin
    password:

  h2:
    console:
      enable: true
      path: /h2-console

  jpa:
    show-sql: true