spring:
  application:
    name: OrdemdeServico-api
  datasource:
    url: jdbc:postgresql://localhost:5432/ordem_servico
    username: postgres
    password: postgres
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  database-platform: org.hibernate.dialect.PostgreSQLDialect